/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
IMPORTS
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
@import url(chrome/hidetabs-hidessidebery.css);
@import url(chrome/iconxtra.css);
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
HIDE MINMAXCLOSE TITLEBAR BUTTONS
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*.titlebar-buttonbox-container {display: none !important;}

/*----if you want the default release buttons returned----
--------------delete above (^) and use below (v)----------
-------------minmaxclose.css is not my creation----------*/
     
@import url(chrome/minmaxclose.css);*/

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
HISTORY DIALOG BOX, then PLACES (THE POPUP WINDOW FOR DOWNLOAD, BOOKMARKS, HISTORY)
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
#SanitizeDialog {--in-content-page-background: #151515 !important;}

#places, #placesView, #placesToolbar {
--organizer-pane-background: rgb(17, 17, 17) !important;
--organizer-content-background: rgb(17, 17, 17) !important;
--organizer-hover-background: rgb(40, 40, 40) !important;
--organizer-selected-background: rgb(40, 40, 40) !important;
--organizer-toolbar-field-background: rgb(17, 17, 17) !important;
--organizer-toolbar-field-background-focused: rgb(17, 17, 17) !important;
--organizer-toolbar-background: rgb(17, 17, 17) !important;}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
TOOLBAR ICON UPDATE BADGES COLOR (EX UBLOCK ORIGIN's NUMBER OF ADS BLOCKED)
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.toolbarbutton-badge {
	background-color: rgba(0,0,0,0.2) !important;
	box-shadow: 0 !important;
	color: white !important;
	text-shadow: #FDFFFF 0.5px 0 15px!important;}




